@charset "utf-8";
html {
    font: 12px "宋体";
}

a {
    color: #000;
}

.top {
    background-color: #F7F7F7;
    height: 26px;
    border-bottom: 1px solid #D8D8D8;
}

.top_page {
    width: 970px;
    height: 26px;
    margin: 0 auto;
}

.top_page_l {
    line-height: 26px;
}

.top_page_r ul li {
    float: left;
    padding-right: 10px;
    line-height: 26px;
}

.top_page_r ul li s {
    width: 14px;
    height: 12px;
    background: url(../image/sprite.png);
    display: inline-block;
    vertical-align: middle;
}

.logo {
    width: 970px;
    height: 98px;
    margin: 0 auto;

}

.logo_l {
    width: 200px;
    height: 55px;
    margin: 24px 0 19px 9px;
    background: url(../image/sprite.png) -20px 0;
    text-indent: -1000em;

}

.logo_r {
    width: 530px;
    height: 42px;
    border: 1px solid #C9C9C9;
    margin-top: 29px;

}

.logo_r_search {
    width: 418px;
    height: 28px;
    border: 1px solid #C9C9C9;

}

.logo_r_btn {
    color: white;
    width: 99px;
    height: 30px;
    background-color: #2F70D0;
}

.logo_r_content {
    margin: 5px 5px 5px 4px;
}

.nav {
    width: 970px;
    height: 25px;
    margin: 0 auto;
    border-bottom: 2px solid #0266A3;
}

.nav li {
    padding: 0 15px 0 15px;
    line-height: 25px;
    float: left;
    font-size: 14px;
    font-weight: bold;

}

.nav li a {
    color: #0266A3;
}

.nav li:hover {
    background-color: #0266A3;

}

.nav li:hover a {
    color: white;
}

.banner {
    width: 970px;
    height: 210px;
    margin: 0 auto;
    margin-top: 10px;
}

.subNav {
    width: 200px;
    height: 210px;

    margin-right: 11px;
}

.ad {
    width: 520px;
    height: 210px;
    background-image: url("../image/header_center.png");

}

.message {
    width: 230px;
    height: 210px;
}

.subNav h2 {
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: #0266A3;
    color: white;
}

.subNav ul {
    background-color: #EBF0F6;
    height: 180px;
}

.subNav s {
    display: inline-block;
    width: 15px;
    height: 13px;
    background: url(../image/sprite.png) -225px 0;
    vertical-align: middle;
}

.subNav li {
    font-size: 15px;
    padding-top: 11px;
    margin-left: 9px;
}

.subNav li a {
    padding-left: 15px;
}

.message_top {
    border: 1px solid #DDDDDD;
    background-color: #F7FAFF;
    height: 95px;
    margin-bottom: 21px;
}

.message_top s {

    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../image/sprite.png) -250px 0;
    margin: 20px 10px 0 10px;

}

.message_top .fw {
    font-weight: bold;
    padding: 7px 0 0 18px;

}

.message_top .cheap {
    margin-top: 25px;
}

.message_bottom {
    height: 92px;
    background-color: #F7F7F7

}

.message_bottom .findMessage {
    text-align: center;
    font-size: 14px;
    padding-top: 11px;
}

.message_bottom .phone {
    text-align: center;
    color: #3F9CE0;
    margin-top: 10px;

}

.message_bottom .phone s {
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url(../image/sprite.png) -225px -30px;
    vertical-align: middle;
}

.message_bottom .btn {
    width: 81px;
    height: 23px;
    background: url(../image/sprite.png) -295px 0;
    margin-top: 9px;
    margin-left: 75px;

}

.material {
    width: 950px;
    height: 34px;
    border-top: 2px solid #C3D7E4;
    margin: 0 auto;
    margin-top: 14px;
    background-color: #ECF1F7;
    line-height: 34px;
    font-weight: bold;
    padding-left: 20px;

}

.product {
    width: 970px;
    height: 345px;
    margin: 0 auto;
    margin-top: 12px;
}

.product_l {
    width: 727px;
    height: 345px;

    border: 1px solid #D8D8D8;
}

.product_l_top {
    height: 155px;
    width: 701px;;
    padding: 17px 0 0 26px;
}

.p_l_t_product1 {
    width: 350px;
    height: 146px;

}

.buy {
    width: 99px;
    height: 143px;

}

.img {
    height: 100px;
    border: 1px solid #CACACA;
}

.img s {
    display: inline-block;
    width: 90px;
    height: 62px;
    background: url(../image/sprite.png) 0 -70px;
    margin: 10px 4px 0 3px;
}

.buy .btn {
    width: 99px;
    height: 26px;
    color: white;
    background-color: #0A84E3;
    margin-top: 15px;

}

.explain {
    width: 250px;
    height: 143px;

}

.goodWife {
    font-size: 14px;
    padding: 10px 0 0 10px;
}

.auto {
    color: #863E01;
    padding: 13px 0 0 15px;
}

.money {
    padding: 23px 0 0 11px;
}

.money span {
    color: red;
}

.money s {
    text-decoration: line-through;

}

.bought {
    font-size: 14px;
    padding: 18px 0 0 11px;
}

.product_l_line {
    margin: 0 4px 0 4px;
    border-top: 1px solid #ccc;
}

.product_r {
    width: 230px;
    height: 345px;

    border: 1px solid #E0E6F0;

}

.product_r h2 {
    height: 28px;
    line-height: 28px;
    padding-left: 15px;
    border-bottom: 1px solid #E0E6F0;
}

.product_r ul {
    padding-top: 11px;
}

.product_r li {
    line-height: 23px;
    padding-left: 26px;
}

.seat {
    width: 970px;
    height: 200px;
    background-image: url("../image/广告.jpg");
        margin: 0 auto;
    margin-top: 15px;
}

.link {
    width: 970px;
    height: 103px;
    margin: 0 auto;
    margin-top: 11px;
    border-top: 1px solid #DDDDDD;
}

.link {
    color: #666666;
    border-bottom: 3px solid #0A7EC3;

}

.link_p1 {
    margin-top: 30px;
}

.link_p2 {
    margin-top: 14px;
    margin-left: 60px;

}

.aboutUs {
    height: 91px;
    width: 970px;
    margin: 0 auto;

}

.aboutUs p {
    margin-top: 14px;
    text-align: center;

}











